In [1]:
import bs4
import requests

In [2]:
import pandas as pd
import json

In [21]:
from urllib.request import urlopen

In [26]:
from bs4 import BeautifulSoup as soup

In [98]:
imgs = []
titles = []
prices = []
for no in range(1,51):                                                                   #The website has 50 pages
    url = 'https://books.toscrape.com/catalogue/page-'+str(no)+'.html'                   #The websites's url
    data = urlopen(url)
    data_html = data.read()
    data_soup = soup(data_html,'html.parser')                                            #Scraping html data
    for i in range(0,20):
        img = data_soup.findAll('img',{'class':'thumbnail'})[i]['src']                   #Scraping images of books
        imgs.append(img)
        h3 = data_soup.findAll('h3',{})[i]                                               #Scraping titles of books
        title = h3.a['title']
        titles.append(title)
        price = data_soup.findAll('p',{'class':'price_color'})[i].text                   #Scraping prices of books
        prices.append(price)

In [99]:
df = pd.DataFrame(data=imgs,columns={'image_url'})

In [100]:
df['book_title'] = titles

In [101]:
df['product_price'] = prices

In [102]:
df

,image_url,book_title,product_price
0,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...,A Light in the Attic,£51.77
1,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...,Tipping the Velvet,£53.74
2,../media/cache/3e/ef/3eef99c9d9adef34639f51066...,Soumission,£50.10
3,../media/cache/32/51/3251cf3a3412f53f339e42cac...,Sharp Objects,£47.82
4,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...,Sapiens: A Brief History of Humankind,£54.23
...,...,...,...
995,../media/cache/96/ee/96ee77d71a31b7694dac6855f...,Alice in Wonderland (Alice's Adventures in Won...,£55.53
996,../media/cache/09/7c/097cb5ecc6fb3fbe1690cf0cb...,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",£57.06
997,../media/cache/1b/5f/1b5ff86f3c75e51e24c573d3f...,A Spy's Devotion (The Regency Spies of London #1),£16.97
998,../media/cache/2b/41/2b4161c5b72a4ae386b644682...,1st to Die (Women's Murder Club #1),£53.98
999,../media/cache/d7/0f/d70f7edd92705c45a82118c3f...,"1,000 Places to See Before You Die",£26.08

In [103]:
csv_data = df.to_csv(index=False)

In [104]:
df.to_csv('Desktop/books.csv', index=False)